* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.page {
    height: 100%;
    width: 100%;
}
header {
    height: 4.163rem;
    background-color: #fbfaff;
}
.content {
    margin: auto 10%;
}
.logo {
    float: left;
}
nav {
    float: right;
    overflow: hidden;
    height: 4.163rem;
}
nav ul {
    height: 4.163rem;
    padding: 0.5rem;
    display: table;
}
nav li {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 1.5rem;
}
nav li a {
    text-decoration: none;
    color: #000000;
}
nav li a:hover {
    background-color: #c5c4c7;
    padding: 0.2rem 0.5rem;
}

.blue {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blue::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #181b3c;
    opacity: 0.8;
    z-index: 1;
}

.blue .content {
    position: relative;
    z-index: 1;
}
.blue .hero {
    padding: 14rem 6rem;
}
.blue .hero h1 {
    color: #ffffff;
    margin: 0%;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.blue .hero h1 span {
    font-weight: 700;
}
.blue .hero p {
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    max-width: 25rem;
    margin: 2rem auto;
    font-weight: 100;
}
.blue .hero .btn {
    text-align: center;
}
.blue .hero .btn a{
    color: #ffffff;
    padding: 0.9rem 1.7rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid #ffffff;
}
.blue .hero .btn a:hover {
    background-color: #ffcc00;
    border: none;
}

.grey {
    background-color: #fbfaff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.home {
    font-family: 'Roboto', sans-serif;
}
.aside {
    float: right;
    padding: 2rem;
}