* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    background-color: #ffffff;
}
.top {
    margin: 1.25rem 1.25rem 0;
    height: 5rem;
}
.nav {
    background-color: #d9d9d9;
    overflow: hidden;
    padding: 1rem;
    height: 5rem;
}
.navbar {
    float: right;
    margin: 1rem auto;
}
.navbar a {
    text-decoration: none;
    color: #0066cc;
    margin-right: 1.6rem;
}
.navbar .active {
    background-color: #000000;
    color: #ffffff;
    padding: 0.8rem 1.25rem;
}
.navbar a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #000000;
    padding: 0.8rem 1.25rem;
}
.navbar li {
    display: inline;
    text-decoration: none;
}
.logo {
    float: left;
}
.logo img {
    margin-left: 4rem;
    width: 3rem;
}
.banner {
    background-color: #06a3cc;
    min-height: 13rem;
}
.banner h1 {
    font-size: 4rem;
    text-align: center;
    color: #ffffff;
    padding-top: 5%;
}

.main {
    margin: auto 1.25rem;
}
.middle {
    background-color: #ffffff;
    overflow: hidden;
}
.left {
    float: left;
    width: 50%;
}
.left_yellow {
    background-color: #ffe469;
    min-height: 31rem;
    margin: 1rem 1.5rem 1rem 5rem;
}
.left_purple {
    background-color: #d39ed6;
    width: 25%;
    min-height: 23rem;
    position: absolute;
    margin: 2rem;
}
.right {
    float: right;
    width: 45%;
    margin-right: 5%;
}
.right_orange {
    background-color: #ed8719;
    min-height: 19rem;
    margin-top: 1rem;
    padding: 2rem;
}
.right_green {
    background-color: #8ae33b;
    min-height: 11rem;
    margin-top: 1rem;
}
.right_orange input,
.right_orange select {
    display: block;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: none;
    width: 80%;
    background-color: #e2b788;
}
.right_orange button {
    background-color: #e2b788;
    padding: 0.5rem 2rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.bottom {
    background-color: #007694;
    margin: 1.25rem 1.25rem 0;
    overflow: hidden;
    text-align: center;
    padding: 1.25rem 0;
}
.bottom a {
    text-decoration: none;
    color: #ffffff;
    display: inline;
    text-align: center;
    padding: 0.5rem 2%;
    border-right: 1px solid #ffffff;
}
.bottom a:last-child {
    border-right: none;
}