* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.page {
    height: 100%;
    width: 100%;
}
header {
    height: 4.163rem;
    background-color: #fbfaff;
}
.content {
    margin: auto 10%;
}
.logo {
    float: left;
}
nav {
    float: right;
    overflow: hidden;
    height: 4.163rem;
}
nav ul {
    height: 4.163rem;
    padding: 0.5rem;
    display: table;
}
nav li {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;
    padding: 0 1.5rem;
}
nav li a {
    text-decoration: none;
    color: #000000;
}
nav li a:hover {
    background-color: #c5c4c7;
    padding: 0.2rem 0.5rem;
}

.blue {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.blue::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #212443;
    opacity: 0.8;
    z-index: 1;
}

.blue .content {
    position: relative;
    z-index: 1;
}
.blue .hero {
    padding: 14rem 6rem;
}
.blue .hero h1 {
    color: #ffffff;
    margin: 0%;
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.blue .hero h1 span {
    font-weight: 700;
}
.blue .hero p {
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    max-width: 25rem;
    margin: 2rem auto;
    font-weight: 100;
}
.blue .btn {
    text-align: center;
}
.blue .btn a{
    color: #ffffff;
    padding: 0.9rem 1.7rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid #ffffff;
}
.blue .btn a:hover {
    background-color: #ffcc00;
    border: none;
}
.blue .home h4 {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
    font-weight: 100;
    padding: 0 17rem;
}
.blue .home h4 span {
    font-weight: 700;
}
.blue .cards {
    text-align: center;
    color: #ffffff;
    margin: 3rem 0;
}
.blue .cards .card {
    width: 32%;
    padding: 1rem;
    display: inline-grid;
}
.blue .cards .card img {
    width: 3rem;
    height: 3rem;
    margin: 0 45%;
}
.blue .cards .card h3 {
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: 700;
}
.blue .cards .card p {
    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.blue .cards2 {
    text-align: center;
    color: #ffffff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
}
.blue .cards2 .card {
    padding: 1rem;
}
.blue .cards2 .card img {
    width: 3rem;
    height: 3rem;
    margin: 0.5rem auto;
    display: block;
}
.blue .cards2 .card h3 {
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 700;
}
.blue .cards2 .card p {
    font-size: 0.9rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.blue .product-left {
    width: 45%;
}
.blue .product-left p {
    padding: 1.5rem 0;
}
.blue .testimonials {
    text-align: center;
    color: #ffffff;
}
.blue .testimonials .testimonial {
    display: inline-block;
    width: 49%;
}
.blue .testimonials .testimonial img {
    width: 5rem;
    height: 5rem;
    border-radius: 4rem;
    margin: 0 auto;
}
.blue .testimonials .testimonial p {
    margin: 1rem auto;
    font-size: 1rem;
}



.grey {
    background-color: #f5f4fa;
}
.home {
    font-family: 'Roboto', sans-serif;
    padding: 6rem 0;
    overflow: hidden;
}
.grey .home .content-left {
    float: left;
    width: 40%;
    padding-top: 1rem;
}
.grey .home h2 {
    font-size: 3rem;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.grey .home h2 span {
    font-weight: 700;
}
.grey .home .content-left span img {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
}
.grey .home .content-left p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 3rem;
}
.grey .home .content-left p span {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    display: block;
    margin-bottom: 1.5rem;
}
.grey .home .content-right {
    float: right;
    width: 55%;
}
.grey .home .content-right img {
    width: 100%;
    height: 80%;
}
.grey .product-left {
    width: 55%;
}
.grey .product-left p {
    margin-bottom: 3rem;
}
.grey .product-left p span {
    font-weight: 700;
}
.navbar {
    overflow: hidden;
    height: 4rem;
}
.navbar ul {
    height: 4rem;
}
.navbar ul li {
    overflow: hidden;
    display: inline-block;
    padding: 1rem;
}
.navbar ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 0.6rem;
    font-weight: 600;
}
.navbar ul li a:hover {
    background-color: #dcd9e3;
    padding: 0.7rem 0.5rem;
}
.navbar ul li a.active {
    background-color: #dcd9e3;
    padding: 0.7rem 0.5rem;
}
.items {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.2rem;
}
.items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.items img.tall {
    grid-row: span 2;
}
.grey p{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 2rem auto;
}
.grey .cards {
    text-align: center;
}
.grey .cards .card {
    background-color: #ffffff;
    margin-right: 2rem;
    padding: 2.5rem;
    display: inline-grid;
    width: 30%;
}
.grey .cards:last-child {
    margin-right: 0;
}
.grey .cards .card h3 {
    font-size: 1.2rem;
}
.grey .btn {
    margin-top: 2rem;
    text-align: center;
}
.grey .btn a{
    color: #000000;
    padding: 0.9rem 1.7rem;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 30px;
    border: 2px solid #000000;
}
.grey .btn a:hover {
    background-color: #ffcc00;
    color: #ffffff;
    border: none;
}