.page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.top {
    margin: 2% 2% 0% 2%;
}
.menu {
    background-color: #d9d9d9;
    min-height: 70px;
    max-height: 200px;
    margin-bottom: 0%;
    overflow: hidden;
}
.navbar {
    float: right;
    margin: 1.8%;
    margin-right: 5%;
    min-width: 25%;
    max-width: 40%;
}
.navbar a {
    text-decoration: none;
    color: #0066cc;
    margin-right: 30px;
}
.navbar .active {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
}
.logo img {
    margin-top: 0.7%;
    margin-left: 5%;
    width: 50px;
    float: left;
}
.banner {
    background-color: #06a3cc;
    height: 220px;
}
.banner h1 {
    font-size: 4em;
    font-family: sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    line-height: 220px;
    text-align: center;
    color: #ffffff;
}

.middle {
    margin: 0% 2% 0% 2%;
    background-color: #ffffff;
    width: 96%;
    min-height: 500px;
    max-height: 850px;
    overflow: hidden;
}
.left {
    float: left;
    width: 50%;
}
.left_yellow {
    background-color: #ffe469;
    min-height: 500px;
    margin: 1% 1% 1% 15%;
}
.left_purple {
    background-color: #d39ed6;
    width: 25%;
    min-height: 370px;
    position: absolute;
    margin: 2%;
}
.right {
    float: right;
    width: 42%;
    margin-right: 8%;
}
.right_orange {
    background-color: #ed8719;
    min-height: 300px;
    margin-top: 1.2%;
}
.right_green {
    background-color: #8ae33b;
    min-height: 193px;
    margin-top: 1.2%;
}

.bottom {
    background-color: #007694;
    width: 96%;
    height: 70px;
    margin: 0% 2% 2% 2%;
    overflow: hidden;
    text-align: center;
}
.bottom a {
    text-decoration: none;
    color: #ffffff;
    line-height: 70px;
    text-align: center;
    padding: 0 2%;
    border-right: 1px solid #ffffff;
}
.bottom a:last-child {
    border-right: none;
}