* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}
.container {
    width: 60%;
    margin: 1.25rem auto;
    border: 4px solid #000000;
    padding: 0.6rem;
    text-align: center;
    color: #ffffff;
}
.header {
    background-color: #5fd3e6;
    display: table;
    width: 100%;
    margin-bottom: 0.6rem;
    min-height: 3.5rem;
}
.header-style {
    display: table-cell;
    vertical-align: middle;
}
.content {
    margin-bottom: 0.6rem;
    min-height: 10rem;
}
.sidebar {
    width: 30%;
    min-height: 18rem;
    background-color: #a4c76b;
    float: left;
    padding-top: 2rem;
}
.main {
    width: 69%;
    min-height: 12.5rem;
    background-color: #f6c83e;
    float: right;
    color: white;
    margin-bottom: 0.6rem;
    padding-top: 1.25rem;
}
.extra {
    width: 69%;
    min-height: 5rem;
    background-color: #9e9e9e;
    float: right;
    padding-top: 1.25rem;
}
.clear {
    clear: both;
}
.footer {
    min-height: 3.75rem;
    background-color: #ffa500;
    display: table;
    width: 100%;
}
.footer span {
    display: table-cell;
    vertical-align: middle;
}