body {
    margin: 10%;
    background-color: #f5f5f5;
}
.page {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    border: 4px solid #000000;
    box-sizing: border-box;
}
.top {
    height: 120px;
    background-color: #ff5aa7;
    margin-bottom: 10px;
}
.middle {
    height: 300px;
    margin-bottom: 10px;
}
.middle-left {
    width: 70%;
    min-height: 300px;
    background-color: #ff008c;
    float: left;
    margin-right: 10px;
}
.middle-right {
    width: 28.5%;
    min-height: 300px;
    background-color: #c0005a;
    float: right;
}
.bottom {
    min-height: 120px;
    background-color: #7a2b4f;
}