* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #f5f5f5;
}
.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    border: 4px solid #ffffff;
}
.top {
    min-height: 500px;
    max-height: 800px;
    background-color: #e70000;
    position: relative;
}
.top-image {
    width: 30%;
    max-width: 200px;
    position: absolute;
    right: 10%;
    float: right;
    top: 10%;
}
.bottombox {
    min-height: 200px;
    max-height: 300px;
    width: 32.5%;
    background-color: #962f1f;
    float: left;
    margin-top: 280px;
    margin-right: 1%;
}
.bottombox:last-child {
    margin-right: 0;
    float: right;
}