body {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.page {
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    border: 4px solid black;
    box-sizing: border-box;
}
.top {
    height: 120px;
    background-color: #ff5aa7;
    margin-bottom: 10px;
}
.middle {
    height: 300px;
    margin-bottom: 10px;
}
.middle-left {
    width: 70%;
    height: 300px;
    background-color: #ff008c;
    float: left;
    margin-right: 10px;
}
.middle-right {
    width: 28.5%;
    height: 300px;
    background-color: #c0005a;
    float: left;
}
.bottom {
    height: 120px;
    background-color: #7a2b4f;
}