* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}
.container {
    width: 70%;
    margin: 2rem auto;
    padding: 0.5rem;
    border: 4px solid #000000;
}
.top {
    height: 5rem;
    background-color: #ff5aa7;
    margin-bottom: 0.6rem;
}
.middle {
    overflow: hidden;
    margin-bottom: 0.6rem;
}
.left-sidebar {
    width: 71%;
    height: 18rem;
    background-color: #ff008c;
    float: left;
}
.right-sidebar {
    width: 28%;
    height: 18rem;
    background-color: #c0005a;
    float: right;
}
.footer {
    min-height: 6rem;
    background-color: #7a2b4f;
}