body {
    background-color: #f5f5f5;
}
.container {
    width: 80%;
    height: auto;
    margin: 20px auto;
    border: 4px solid white;
    box-sizing: border-box;
}
.top {
    height: 600px;
    background-color: rgb(255, 38, 0);
    padding: 0px;
    box-sizing: border-box;
}

.bottombox {
    height: 300px;
    width: 32.5%;
    background-color: rgb(150, 47, 31);
    float: left;
    margin-right: 1.25%;
    margin-top: 300px;
}
.bottombox:last-child {
    margin-right: 0;
}